<%- include('partials/header') %>

<h1>Books I've READ</h1>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, voluptates velit! Iusto minima
  nesciunt sequi sunt voluptatum, quo voluptate, optio maxime et suscipit fugiat blanditiis saepe,
  sit quisquam illo. Debitis.
</p>
<br />
<% if (locals.books){ %> <% books.forEach((book,index) => { %>
<form id="myForm<%= index %>" action="/<%=shortenBookTitle(book.title)%>" method="post">
<section class="book">
    <img src="<%=bookCovers[index]%>" alt="Book cover" loading="lazy"/>
    <h2>
      <a class="submitFormLink" data-formid="myForm<%= index %>" data-booktitle="<%= book.title %>" href="#" name="title" value="<%=book.title%>"> <%= book.title %> </a>
    </h2>
    <input type="hidden" name="id" value="<%=book.id%>">
    <small
      >Date read: <%= book.date_read %>. How strongly I recommend it:
      <strong><%= book.rating %></strong>/10
    </small>
    <p><%=book.review%></p>
    <a class="notes submitFormLink" href="#" data-formid="myForm<%= index %>" data-booktitle="<%= book.title %>" href="#" name="title" value="<%=book.title%>" >Read my Notes</a>

</section>
</form>
<%}); %> <%} else{ %>
<h1>No books found.</h1>
<% } %> <%- include('partials/footer') %>

<script>
  document.querySelectorAll(".submitFormLink").forEach((link)=> {
      link.addEventListener("click", function(event) {
          event.preventDefault(); // Prevent the default action of the anchor tag
          const formId = this.dataset.formid;
          document.getElementById(formId).submit(); // Submit the associated form
      });
  });
</script>

