<%- include('partials/header') %> <% if (locals.books){ %> <% books.forEach(book => { %>

<h1>Books I've READ</h1>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, voluptates velit! Iusto minima
  nesciunt sequi sunt voluptatum, quo voluptate, optio maxime et suscipit fugiat blanditiis saepe,
  sit quisquam illo. Debitis.
</p>
<br />
<section class="book">
  <img src="./images/book-cover.webp" alt="Book cover" />
  <h2>
    <a href="notes.ejs"> <%= book.title %> </a>
  </h2>
  <small
    >Date read: <%= book.date_read %>. How strongly I recommend it:
    <strong><%= book.rating %></strong>/10
  </small>
  <p><%=book.review%></p>
  <a class="notes" href="">Read my Notes</a>
</section>
<%}); %> <%} else{ %>
<h1>No books found.</h1>
<% } %> <%- include('partials/footer') %>
