<%- include('partials/header') %>
<section id="notes">
  <img src="<%= bookCover %>" alt="Book cover" />
  <h1><%=selectedBook.title%></h1>
  <small>ISBN: <%=selectedBook.isbn%></small><br />
  <small>Date read: <%=selectedBook.date_read%></small><br />
  <small>How strongly I recommend it: <%=selectedBook.rating%>/10</small><br /><br />
  <strong>(See <a href="/">my list of all books</a>, for more.)</strong>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque veniam at a, ipsa asperiores
    ducimus eaque quidem harum sunt adipisci, qui dolorum odit nemo? Illo quia totam sint repellat
    hic!
  </p>
  <h2>My Notes</h2>
  <% if(locals.notes.length > 0){ %>
  <% notes.forEach(note => { %>
  <p><%=note.note_description%></p>
  <%});}else{ %>
    <p>no notes were found.</p>
 <% } %>
</section>
<%- include('partials/footer') %>
