<%- include('partials/header') %>
<header>Welcome to my Books Notes!</header>
<section id="notes">
  <form action="/edit" method="post">
    <input type="hidden" name="id" value="<%=selectedBook.id%>" />
    <img src="<%= bookCover %>" alt="Book cover" />
    <h1><%=selectedBook.title%> - BY <%= selectedBook.author %></h1>
    <small>ISBN: <span><%=selectedBook.isbn%></span></small><br />
    <small>Date read: <span> <%=selectedBook.date_read%></span></small><br />
    <small>How strongly I recommend it: <span><%=selectedBook.rating%></span>/10</small><br /><br />
    <strong>(See <a href="/">my list of all books</a>, for more.)</strong>
    <div class="review">
      <p><%= selectedBook.review %></p>
      <br />
      <button type="submit">Edit Review</button>
    </div>
  </form>
  <hr />
  <h2>My Notes</h2>
  <% if(locals.notes.length > 0){ %> <% notes.forEach(note => { %>
  <form action="/delete/<%=note.note_id%>" method="post" class="delete-form">
    <p><%=note.note_description%></p>
    <button class="delete" type="submit">Delete</button>
  </form>
  <hr>
  <%});}else{ %>
  <p>no notes were found.</p>
  <% } %>
</section>
<%- include('partials/footer') %>
